.banner {
    background: black;
    text-align: center;
    color: white;
}
.container {
    height: 400px;
    position: relative;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center_marginTop {
    margin: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.success_message{
    margin-left: 5px;
    margin-bottom: 20px;
}
.register_button{
    margin-left: 80px;
}
.lastName_input{
    margin-left: 2px;
}
.email_input{
    margin-left: 33px;
}
.password_input{
    margin-left: 10px;
}
a:link{
    background-color: #c3b8b850;
    color: rgb(5, 5, 5);
    border-top-color: black;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.link_centered {
    color: rgb(5, 5, 5);
    border-top-color: black;
    padding: 4px;
    margin: 0 auto;
    text-align: center;
    align-self: center;
    text-decoration: none;
    display: block;	
}
.buttons_centered {
    color: rgb(5, 5, 5);
    border-top-color: black;
    padding: 4px;
    margin: 0 auto;
    text-align: center;
    align-self: center;
    text-decoration: none;
    display: block;	
}
.request_name_title{
    margin-left: 110px;
}
.request_name_field{
    height: 15px;
    width: 200px;
}
.equipment_description_field{
    height: 100px;
    width: 200px;
    text-align: top;
}