<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Booking Failure</title>
    <link href="Stylesheet.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="banner">
        <span>
            Lab Management System
        </span>
    </div> 
    <div class="container">
        <div class="center">
            <div class="success_message">Error booking equipment</div>
        </div>
    </div> 
    <div class="center">
        <a class="link_centered" href="/app/home">Return to home page</a>
    </div> 
</body>
</html>