<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>home</title>
    <link href="Stylesheet.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="banner">
        <span>
            Lab Management System
        </span>
    </div> 
    <div align="center">
        <h1>Equipment List</h1>
        <a href="book">Book Equipment</a>
        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Made In</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="equipment : ${listEquipment}">
                    <td th:text="${equipment.id}">ID</td>
                    <td th:text="${equipment.name}">Name</td>
                    <td th:text="${equipment.brand}">Brand</td>
                    <td th:text="${equipment.madein}">Made in</td>
                    <td th:text="${equipment.price}">Price</td>
                    <td>
                        <a th:href="@{'/book/' + ${equipment.id}}">Book</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
    </body>
    </html>