<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>index</title>
    <link href="Stylesheet.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="banner">
        <span>
            Lab Management System
        </span>
    </div> 
    <div class="container">
        <div class="center">
            <a href="/login">Log in</a>
            <a href="/register">Register</a>
        </div>
    </div>
</body>
</html>