<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>login</title>
    <link href="Stylesheet.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="banner">
        <span>
            Lab Management System
        </span>
    </div> 
    <div class="container">
        <div class="center">
            <form>
                <p>Username: <input type="text"/></p>
                <p>Password: <input type="text"/></p>
                <a href="/app/login_success">Log in</a>
            </form>
        </div>
    </div>
</body>
</html>