<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>logout</title>
    <link href="Stylesheet.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="banner">
        <span>
            Lab Management System
        </span>
    </div> 
    <div class="container">
        <div class="center">
            <!-- <form action="#" th:action="@{/exit}">
            <form> -->
                <div class="success_message">Successfully logged out. Please close your browser</div>
                <!-- <button class="exit_button" type="submit">Exit</button> -->
            <!-- </form> -->
        </div>
    </div>
</body>
</html>