<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>New Booking</title>
	<link href="Stylesheet.css" rel="stylesheet">
</head>
<body>
	<div class="banner">
        <span>
            Lab Management System
        </span>
    </div> 
	<div align="center">
		<h1>New Booking</h1>
		<br />
		<form action="#" th:action="@{/book_equipment}" th:object="${booking}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Equipment:</td>
					<td><input type="text" th:field="*{equipment}" /></td>
				</tr>
				<tr>
					<td>Date:</td>
					<td><input type="text" th:field="*{date}" /></td>
				</tr>
				<tr>
					<td>Time:</td>
					<td><input type="text" th:field="*{time}" /></td>
				</tr>
				<tr>
					<td>Duration:</td>
					<td><input type="text" th:field="*{duration}" /></td>
				</tr>								
				<tr>
					<td colspan="2">
						<button class="link_centered" type="submit">Book Equipment</button> 
					</td>
				</tr>
			</table>
			<a class="link_centered" href="/back">Back</a>
		</form>
	</div>
</body>
</html>