<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<style>
    .banner {
        background: black;
        text-align: center;
        color: white;
    }
    .container {
        height: 400px;
        position: relative;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .success_message{
        margin-bottom: 20px;
    }
    
</style>
</style>
<head> 
    <title>register_success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="banner">
        <span>
            Lab Management System
        </span>
    </div> 
    <div class="container">
        <div class="center">
            <form action="https://www.w3docs.com/">
                <div class="success_message">Successfully registered</div>
                <button>Continue to login page</button>
            </form>
        </div>
    </div>
</body>
</html>