<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>register</title>
    <link href="Stylesheet.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="banner">
        <span>
            Lab Management System
        </span>
    </div> 
    <div class="container">
        <div class="center">
            <form action="#" th:action="@{/register_user}" method="post" th:object="${user}">
                <p>First Name: <input type="text" th:field="*{firstName}"/></p>
                <p>Last Name: <input type="text" class="lastName_input" th:field="*{lastName}"/></p>
                <p>Email: <input type="text" class="email_input" th:field="*{email}"/></p>
                <p>Password: <input type="text" class="password_input" th:field="*{password}"/></p>
                <button class="link_centered" type="submit">Register</button>
                <div class="link_centered">
                    <a href="/app/index">Back</a>
                    <!-- <a href="/register_failure">Register Failure Test</a> -->
                </div>
            </form>
        </div>
    </div>
</body>
</html>