<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>register</title>
    <link href="Stylesheet.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="banner">
        <span>
            Lab Management System
        </span>
    </div> 
    <div class="container">
        <div class="center">
            <form>
                <p>First Name: <input type="text"/></p>
                <p>Last Name: <input type="text" class="lastName_input"/></p>
                <p>Email: <input type="text" class="email_input"/></p>
                <p>Password: <input type="text" class="password_input"/></p>
                <a href="/register_success">Register</a>
            </form>
        </div>
    </div>
</body>
</html>