<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Request Equipment</title>
	<link href="Stylesheet.css" rel="stylesheet">
</head>
<body>
	<div class="banner">
        <span>
            Lab Management System
        </span>
    </div> 
	<div align="center">
		<h1>Request Equipment</h1>
		<br />
		<form action="#" th:action="@{/send_request}" th:object="${request}" method="post"></form>
			<div class="request_name_title">
				<p>Name: <input type="text" class="request_name_field" th:field="*{id}"/></p>
			</div>
			<p>Equipment Description:<textarea class="equipment_description_field" th:field="*{description}"></textarea></p>
			<p></p>
			<div class="center_marginTop">
				<button type="submit">Request Equipment</button>
				<a class="link_centered" href="/back">Back</a>
			</div>
		</form>
	</div>
</body>
</html>